#  List Comprehension:

### 1) Easy: Create a list comprehension that generates a list of squares of numbers from 1 to 10.
Output: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
def squares(start, end):
    squares = [value ** 2 for value in range(start,end+1)]
    return squares
print(squares(1,10))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 2) Given a list of words, create a list comprehension to filter out words that are longer than 5 characters.
Input: ['apple', 'banana', 'cherry', 'date', 'elderberry']
Output: ['apple', 'cherry', 'date']

In [18]:
a = [ 'apple', 'banana', 'cherry', 'date', 'elderberry']
b = len(a)
i = []

for x in a:
    if "a" in x:
        i.append(x)

print(b, i)

5 ['apple', 'banana', 'date']

In [39]:
a = [ 'apple', 'banana', 'cherry', 'date', 'elderberry']
b = len(a)
i = [a[0],a[2],a[3]]

for x in a:
    if "a" in x:
        i.append(x)

print(b, i[0],i[1],i[2])

5 apple cherry date

In [40]:
a = [ 'apple', 'banana', 'cherry', 'date', 'elderberry']
b = len(a)
i = [a[0],a[2],a[3]]


print(b, i)

5 ['apple', 'cherry', 'date']

#  List

### 1) Easy: Create a list containing the numbers 1 to 5 and then append the number 6 to it.
Output: [1, 2, 3, 4, 5, 6]

In [64]:
x = []
i =1
while i < 6:
    x.append(i)
    i+=1
print(x)

[1, 2, 3, 4, 5]

In [65]:
i = 6
x.append(i)
print(x)

[1, 2, 3, 4, 5, 6]

### 2) Medium: Given two lists, merge them into a single list without duplicates.
Input:
List 1: [1, 2, 3, 4]
List 2: [3, 4, 5, 6]
Output: [1, 2, 3, 4, 5, 6]

In [74]:
L1 = [1, 2, 3, 4]
L2 = [3, 4, 5, 6]
x = set(L1+L2)
print(list(x))

[1, 2, 3, 4, 5, 6]

***************************

# Map

###  1) Easy: Use the map function to double each element in a list.
Input: [1, 2, 3, 4, 5]
Output: [2, 4, 6, 8, 10]

In [3]:
def addition(n):
	return n + n

numbers = (1, 2, 3, 4, 5)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8, 10]

### 2)Medium: Use the map function to convert a list of strings to uppercase.
Input: ['apple', 'banana', 'cherry']
Output: ['APPLE', 'BANANA', 'CHERRY']

In [7]:
out = map(lambda x:x.upper(), ['apple', 'banana', 'cherry'])


output = list(out)


print(output)

['APPLE', 'BANANA', 'CHERRY']

# Filter

### 1) Easy: Use the filter function to get all even numbers from a list.
Input: [1, 2, 3, 4, 5, 6]
Output: [2, 4, 6]

In [13]:
list = [1, 2, 3, 4, 5,6]

out = []

for num in list:
    if num % 2 == 0:
        out.append(num)

print(out)

[2, 4, 6]

### 2) Medium: Use the filter function to get all words from a list that start with the letter 'b'.
Input: ['apple', 'banana', 'cherry', 'blueberry', 'date']
Output: ['banana', 'blueberry']

In [1]:
input_list = ['apple', 'banana', 'cherry', 'blueberry', 'date']
output_list = list(filter(lambda word: word.startswith('b'), input_list))
print(output_list)

['banana', 'blueberry']

# Functions

### 1) Easy: Write a function called add that takes two numbers as input and returns their sum.
Input: add(3, 4)
Output: 7

In [4]:
def foo(a,b):
    print(a+b)
foo(3,4)

7

### 2) Medium: Write a function called calculate_average that takes a list of numbers as input and returns the average (mean) of those numbers.
Input: calculate_average([1, 2, 3, 4, 5])
Output: 3.0

In [8]:
def Average(lst):
    return sum(lst) / len(lst)

lst = [1,2,3,4,5]
average = Average(lst)

print("Average of the list =", round(average, 2))

Average of the list = 3.0